<div class="contact-info">
    <div class="profile-picture">
        <img [src]="profile_image" alt="profile-image">
    </div>
    <div class="small-padding">
        <h1 class="contact-font center-text title-font bold">{{data.name}}</h1>
    </div>
    <div class="smallest-padding center-text">
        <h2 class="subtitle-font contact-font">{{data.profession_shortname}}</h2>
    </div>
    <div class="smallest-padding center-text">
        <h2 class="contact-font small-line-height content-font">{{data.short_description}}</h2>
    </div>
    <div class="small-padding">
        <h1 class="contact-font center-text title-font bold">Contact-me</h1>
    </div>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon class="white-icon">email</mat-icon>
            <div mat-line class="contact-font">{{data.email}}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon class="white-icon">phone</mat-icon>
            <div mat-line class="contact-font">{{data.phone}}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon class="white-icon">web</mat-icon>
            <div mat-line class="contact-font">{{data.website}}</div>
        </mat-list-item>
    </mat-list>
    <div class="small-padding">
        <h1 class="contact-font center-text title-font bold">Skills</h1>
    </div>
    <div class="small-horizontal-padding">
        <mat-grid-list cols="4" rowHeight="50px">
            <div *ngFor="let skill of data.skills">
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-grid-tile-footer class="contact-font"><p>{{skill.name}}</p></mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-progress-bar mode="determinate" [value]="skill.value" class="small-left-padding"></mat-progress-bar>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
</div>
<div class="professional-details">
    <div class="small-padding">
        <h1 class="professional-detail-font center-left-text title-font bold">Education</h1>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let education of data.education" class="professional-detail-font">
          <mat-icon mat-list-icon>school</mat-icon>
          <div mat-line>{{education.school_name}}</div>
          <div mat-line> {{parse_date(education.start_date) | date}} - {{parse_date(education.end_date) | date}}</div>
        </mat-list-item>
    </mat-list>
    <div class="small-padding">
        <h1 class="professional-detail-font center-left-text title-font bold">Languages</h1>
    </div>
    <div class="small-horizontal-padding">
        <mat-grid-list cols="4" rowHeight="50px">
            <div *ngFor="let language of data.languages">
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-grid-tile-footer><p class="professional-detail-font">{{language.name}}</p></mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-progress-bar mode="determinate" [value]="language.level" class="small-left-padding" id="language-progress-bar"></mat-progress-bar>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    <div class="small-padding">
        <h1 class="professional-detail-font center-left-text title-font bold">Work experience</h1>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let work of data.work_experience" class="professional-detail-font">
          <mat-icon mat-list-icon>work</mat-icon>
          <div mat-line>{{work.job_title}}</div>
          <div mat-line>{{work.company_name}}</div>
          <div mat-line>{{parse_date(work.start_date) | date}} - {{parse_date(work.end_date) | date}}</div>
        </mat-list-item>
    </mat-list>
    <div class="small-padding">
        <h1 class="professional-detail-font center-left-text title-font bold">Awards</h1>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let award of data.awards" class="professional-detail-font">
          <mat-icon mat-list-icon svgIcon="trophy"></mat-icon>
          <div mat-line>{{award.name}}</div>
          <div mat-line>{{award.company_name}}</div>
          <div mat-line> {{parse_date(award.start_date) | date}}</div>
        </mat-list-item>
    </mat-list>
</div>