<div class="medium-padding" *ngIf="!data">
    <h1 class="mat-display-1 professional-detail-font bold center-text title-font vertical-center">Select a work experience to for details</h1>
</div>

<div *ngIf="data">
    <section class="mat-typography">
        <div class="small-padding professional-detail-font">
            <h1 class="bold">{{data.title}}</h1>
            <h3>{{data.subtitle}}</h3>
        </div>
        
        <ul class="small-padding professional-detail-font">
            <li *ngFor="let value of data.description_data">
                <h4>{{value.description}}</h4>
            </li>
        </ul>
    </section>
</div>