<!-- <mat-grid-list cols="2">
    <mat-grid-tile>
        <app-personal-info [data]="data"></app-personal-info>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-profissional-info [data]="data"></app-profissional-info>
    </mat-grid-tile>
</mat-grid-list> -->

<div class="inner-window">
    <div class="first-column" [style.height]="calculateHeight()">
        <app-personal-info [data]="data"></app-personal-info>
    </div>
    <div style="background: green" class="second-column" [style.height]="calculateHeight()">
        <app-profissional-info [data]="data"></app-profissional-info>

    </div>
</div>