<div class="flex-container inner-window">
    <div class="flex-expand-2 max-one-third first-column" [style.height]="calculateHeight()">
        <app-personal-info [data]="data"></app-personal-info>
    </div>
    <div class="flex-expand-2 max-one-third second-column" [style.height]="calculateHeight()">
        <app-profissional-info [data]="data" (onSelectedWorkOption)="selectWorkOption($event)"></app-profissional-info>
    </div>
    <div class="flex-expand-8 max-one-third">
        <p>it works it works it works it works it works it works it works it works it works it works it works </p>
    </div>
</div>