.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex-expand-2 {
    flex-grow: 0;
}

.flex-expand-8 {
    flex-grow: 20;
}

.max-one-third {
    max-width: 33.33%;
}

.max-2-4th {
    max-width: 50%;
}

.inner-window {
    display: flex;
    flex-direction: row;
}
  
.first-column {
    overflow-y: auto;
}
  
.second-column {
    overflow-y: auto;
}