<div class="flex-container">
    <div class="max-one-third scroll-column" [style.height]="calculateHeight()">
        <app-personal-info [data]="data"></app-personal-info>
    </div>
    <div class="max-one-third scroll-column" [style.height]="calculateHeight()">
        <app-profissional-info [data]="data" (onSelectedWorkOption)="selectWorkOption($event)"></app-profissional-info>
    </div>
    <div class="max-one-third">
        <app-item-detail-viewer [data]="viewingdata"></app-item-detail-viewer>
    </div>
</div>