.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-expand-2 {
    flex-grow: 0;
}

.flex-expand-8 {
    flex-grow: 20;
}

.max-one-third {
    flex: 0 0 33.333333%;
}
  
.scroll-column {
    overflow-y: auto;
}