<mat-spinner class="full-width center" *ngIf="!loaded"></mat-spinner>

<div *ngIf="loaded && checkScreenType(screenType) === 'MOBILE'">
    <app-resume-mobile-screen [data]="resumeMainDTO"></app-resume-mobile-screen>
</div>

<div *ngIf="loaded && checkScreenType(screenType) === 'DESKTOP'">
    <app-resume-desktop-screen [data]="resumeMainDTO"></app-resume-desktop-screen>
</div>

<div *ngIf="loaded && checkScreenType(screenType) === 'WIDE'">
    <app-resume-wide-screen [data]="resumeMainDTO"></app-resume-wide-screen>
</div>